<div class="container-new-list">
  <h1>Modify your list</h1>
    <%= simple_form_for [@list] do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :name %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
</div>
