<div class="container-home">
  <div class="banner">
    <div class="container">
      <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    </div>
  </div>
</div>
