<div class="container-home">
  <div class="banner" style="background-image: url(<%= asset_path('banner.jpg') %>);">
    <div class="container">
      <p><span data-controller="typed-js"></span></p>
    </div>
  </div>

  <div class="container">

    <h1>Lists</h1>

    <div class="cards">
      <% @lists.each do |list| %>
          <%= link_to list_path(list) do %>
            <% if list.photo.attached? %>
              <div class="card-category" style="background-image: url(<%= cl_image_path list.photo.key, width: 100, height: 100, crop: :fill %>)">
            <% else %>
              <div class="card-category" style="background-image: url()">
            <% end %>
            <%= list.name %>
          </div>
          <% end %>
      <% end %>
    </div>

  </div>
</div>
