<div class="footer">
  <div class="footer-links">
    <div class="icons">
      <a href="#" class="icon icon--instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="icon icon--twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="icon icon--linkedin">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="#" class="icon icon--github">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>

  <div class="footer-copyright">
    | Copyright &copy <span data-controller="years"></span> |
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
