.container-bookmark{
  width: 1000px;
  margin:0 auto;
  margin-bottom: 20px;
  min-height: calc(100vh - 186px);
}

.container-new-bookmark{
  width: 600px;
  margin: 0 auto;
  min-height: calc(100vh - 166px);
}

.container-edit-bookmark{
  width: 600px;
  margin: 0 auto;
  min-height: calc(100vh - 166px);
}

.bookmark-title{
  display:flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
