.container-home{
  min-height: calc(100vh - 166px);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.title span {
	--total: calc(var(--duration) + var(--delay));
	position: relative;
  width:600px;
	display: block;
	color: transparent;
	overflow: hidden;
	animation: reveal 1s var(--total) forwards;
}

.title span::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: left;
	background-color: antiquewhite;
	animation: rollIn var(--duration) var(--delay) forwards,
		rollOut var(--duration) var(--total) forwards;
}
.title span:nth-child(2)::after {
	border-top: 3px solid antiquewhite;
}
@keyframes reveal {
	to {
		color: #fff;
	}
}
@keyframes rollIn {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
@keyframes rollOut {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(105%);
	}
}
