body, html {
  height: 100%;
  background: linear-gradient(90deg, #264653, #c98e8e );
  background-size: 400% 400%;
  animation: anim 5s infinite ease-in-out;
}
.wrapper {
  width: 60%;
  min-height: calc(100vh - 366px);
  margin: 100px auto;
}

@keyframes anim {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
