.navbar-lewagon {
  justify-content: space-between;
  background-color: #264653;
  position: sticky;
  top:0;
  z-index:1000;
  a{
    color:antiquewhite;
    font-size: 18px;
    text-decoration: none;
  }
  a:hover{
    color: antiquewhite;
    font-size: 18px;
    text-decoration: underline;
  }
}

.digit-nav{
  font-size: 18px;
  color: antiquewhite;
  font-weight: bold;
}

.digit-nav:hover{
  text-decoration: none !important;
  font-size: 18px;
  color: antiquewhite;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
